table {
    border-collapse: collapse;
    margin: 20px auto;
    text-align: left;
    background-color: #ffffff;
  }
  
  th, td {
    padding: 10px;
    background-color: #ffffff;
  }
  
  th {
    background-color: #ffffff;
    padding: 0 40px;
  }
  
  tr {
    background-color: #ffffff;
  }
  